/OperacionesBasicas/nbproject/private/
/Operaciones/nbproject/private/
/Cuadrado/nbproject/private/
/Grados/nbproject/private/
/AreaCirculo/nbproject/private/
/Potencia/nbproject/private/
/PesosYenes/nbproject/private/
/ecuacion/nbproject/private/
/UsoDeIf/nbproject/private/
/MayorQue/nbproject/private/
/ParImpar/nbproject/private/
/Division/nbproject/private/
/Exponente/nbproject/private/
/Aceptacion/nbproject/private/
/Triangulo/nbproject/private/
/Bisiesto/nbproject/private/
/Viaje/nbproject/private/
/Multiplo/nbproject/private/
/Calificacion/nbproject/private/
/TestDeFidelidad/nbproject/private/
/Materia/nbproject/private/
/Calculadora/nbproject/private/
/Horoscopo/nbproject/private/
/Semana/nbproject/private/
/sueldo/nbproject/private/
/Mangas/nbproject/private/
/Cine/nbproject/private/
/Helados/nbproject/private/
