/OperacionesBasicas/nbproject/private/
/Operaciones/nbproject/private/
/Cuadrado/nbproject/private/
/Grados/nbproject/private/
/AreaCirculo/nbproject/private/
/Potencia/nbproject/private/
/PesosYenes/nbproject/private/
